# Postgres configuration for the runtime stage only
#
# Resources
#   - https://xxx

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=n8ndb

POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=n8n